* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 650px;
  margin: 20px auto;
  padding: 0 10px;

  --background-color: rgb(247, 252, 247);
  --primary-text-color: #212121;
  --secondary-text-color: #525151;

  background-color: var(--background-color);
}

body.dark-theme {
  --background-color: #121212;
  --primary-text-color: white;
  --secondary-text-color: #dad5d5;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
}

h1, h2, h3 {
  font-weight: 400;
  text-align: center;
}

h1 {
  color: var(--primary-text-color);
  font-size: 4.0rem;
}

h2 {
  font-size: 2.8rem;
  color: var(--secondary-text-color);
}

h3 {
  font-size: 2.2rem;
  color: var(--primary-text-color);
  margin-bottom: 15px;
}

hr {
  margin-top: 45px;
  margin-bottom: 25px;
  opacity: 0.35;
}

p {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

header {
  position: relative;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover {
  opacity: 0.90;
}

.theme-toggler {
  position: absolute;
  top: 10px;
  right: 0;

  background-color: transparent;
  color: var(--primary-text-color);
}

.social-link button {
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 100%;
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  transition: all 0.2s;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

button:hover {
  opacity: 0.90;
  transform: scale(1.050);
}

.github {
  background-color: black;
}

body.dark-theme .github {
  background-color: white;
  color: black;
}

.linked-in {
  background-color: #007bb5;
}

.letterboxd {
  background-color: #027c19;
}

.social-link {
  text-decoration: none;
}

.paragraph-container {
  text-align: center;
}

.my-photo {
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 10px;
}