* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 650px;
  margin: 20px auto;
  padding: 0 10px;
}

h1, h2, h3 {
  font-weight: 400;
  text-align: center;
}

h1 {
  color: #212121;
  font-size: 4.0rem;
}

h2 {
  font-size: 2.8rem;
  color: #525151;
}

h3 {
  font-size: 2.2rem;
  color: #2b2b2b;
  margin-bottom: 15px;
}

hr {
  margin-top: 45px;
  margin-bottom: 25px;
  opacity: 0.35;
}

p {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

header {
  margin-bottom: 20px;
}

button {
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  outline: none;
  transition: all 0.2s;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

button:hover {
  opacity: 0.90;
  transform: scale(1.050);
}

.github {
  background-color: black;
}

.linked-in {
  background-color: #007bb5;
}

.letterboxd {
  background-color: #027c19;
}

.social-link {
  text-decoration: none;
}

.paragraph-container {
  text-align: center;
}

.my-photo {
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 10px;
}